.about {
  width: 100%;
  height: 90vh;
  display: flex;
  background-image: url("../assets/about-us.jpg");
  background-size: cover;
  flex-direction: column;
}

.aboutBottom {
  display: flex;
  flex-direction: column;
  height: 55%;
  align-items: center;
  margin-top: 50px;
}

.aboutBottom p {
  width: 1200px;
}

.about .aboutBottom h1 {
  font-weight: bold;
  font-size: 70px;
  color: #000059;
  height: 30px;
  display: flex;
  justify-content: center;
  transform: translateY(-40px);
}
